@model IGOB.Models.Adjudicacion

@if (ViewBag.IdPerfil == 8)
{
    <div id="div_propuesta_tecnica" class="tab-pane fade">
        <div class="disabledClick" id="sumario">
            @{
                Html.RenderPartial("tabs/lotes");
            }
        </div>

        <div class="row col-12" id="aceptar_propuestaTec">
            <div class="col-3" style="text-align:center">
                <strong>Aceptar</strong>
                <div class="custom-control custom-checkbox" onclick="validarCheckAceptarPropTecnica()" style="left: 47%;width:30px @(Model.isCheckTec == 0 ? "": ";opacity: .7;pointer-events:none;")">
                    <input type="checkbox" class="custom-control-input" id="aceptarPropTec" @(Model.isCheckTec == 0 ? "" : "checked") />
                    <label class="custom-control-label" for="aceptarPropTec"></label>
                </div>
                <input type="hidden" id="IdAceptoProvBool" />
            </div>
        </div>
    </div>
    <br /><br />
}