@model IGOB.Areas.Catalogos.Models.ClsGenerica
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { @id = "changepass", @class = "userSelectnone", @onSubmit = "return false;" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="changeColorModal">
        <div class="mainMenuBarAnchor"></div>
        <nav class="navbar bg-secondary text-white navbar-light bg-light changeColorModal mainMenuBar">
            <div class="row col-12" style="padding:0;margin:0">
                <div class="col-7 text-center">
                    <h6><strong class="text-uppercase">Cambiar contraseña</strong></h6>
                </div>
                <div class="col-5 text-right">
                    <button class="btn btn-secondary" type="button" id="ChangeP">Cambiar</button>
                    <button class="btn btn-secondary" type="button" id="" onclick="location.href = '/PerfilUsuario/'">Regresar</button>
                </div>
            </div>
        </nav>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <label>Nombre usuario</label>
                <input type="text" class="form-control" name="" id="" value="@Model.string1" />
            </div>
            <div class="col-6">
                <label>Usuario</label>
                <input type="text" class="form-control" name="" id="" value="@Model.string5" />
            </div>
            <div class="col-6">
                <label>Contraseña anterior</label>
                <input type="password" class="form-control" name="pass3" id="string3" autocomplete="new-password"/>
            </div>
            <hr class="col-12" />
            <div class="col-6">
                <label>Contraseña</label>
                <input type="password" class="form-control" name="pass1" id="string1" autocomplete="new-password" />
            </div>
            <div class="col-6">
                <label>Confirmar Contraseña</label>
                <input type="password" class="form-control" name="pass2" id="string2" autocomplete="new-password" />
            </div>
        </div>
    </div>
    <br />
}
@section scripts{
    <script>
        $('#ChangeP').on('click', function() {
            let str1 = ($("#string1").val()).trim()
            let str2 = ($("#string2").val()).trim()
            let str3 = ($("#string3").val()).trim()
            if(str1 && str2) {
                if (str1 == str2 && str1.length == str2.length) {
                    let data = $('#changepass').serialize()
                    //console.log(data)
                    traerTokenCapturaGenerico({ title: "Introduce token", CallBack: validarTokenGenerico, CallBackPersonalizado: changevalidation, b: data })
                } else {
                    bootbox.alert({
                        title: "Aviso",
                        message: "Verifique los campos de nueva contraseña",
                        size: "small",
                        callback: function () {
                            $("#string1").focus();
                        }
                    })
                }
            } else {
                bootbox.alert({
                    title: "Aviso",
                    message: "Debe de llenar los campos de contraseña",
                    size: "small",
                    callback: function () {
                        $("#string3").focus();
                    }
                })
            }
        }) 

        function changevalidation(data) {
            $.post('/PerfilUsuario/validationPassUserInSession/', data, "json")
                .done(function (result) {
                    bootbox.alert({
                        title: "Aviso",
                        message: result.message,
                        size: "small",
                        callback: function () {
                            $(`#${result.focus}`).focus();
                            $("#changepass")[0].reset();
                        }
                    })
                })
            return false;
        }
        //

    </script>
}